body, html {
    height: 100%;
    margin: 0;
    font-family: Bahnschrift, Bahnschrift;
    overflow: hidden; /* Prevents scrolling */
    position: relative; /* Relative positioning context for the text */
}

/* Styles for the animated text */
#phrasesContainer div, .centered-text {
    position: absolute;
    font-weight: bold;
    font-size: 2em;
    opacity: 0;
    transition: opacity 1s ease-out;
}

/* Style for the menu wrapper */
#menuWrapper {
    position: fixed;
    top: 0;
    right: -200px; /* Start hidden off the right edge of the screen */
    width: 200px;
    height: 100%;
    z-index: 1000; /* Ensure it's below the tab but above other content */
    transition: right 0.3s ease;
}

#menuWrapper.active {
    right: 0; /* Slide in from the right when active */
}

/* Style for the menu tab */
#menuTab {
    position: absolute;
    left: -80px; /* Position to the left of the #menuWrapper */
    top: 0; /* Position at the top edge of the #menuWrapper */
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1001; /* Ensure it's above the menu */
}

/* Style for the popup menu */
#menuContainer {
    position: absolute;
    top: 0;
    right: 0; /* Position at the right edge of the wrapper */
    width: 200px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

/* Styles for the menu content */
#menuContainer ul {
    list-style-type: none;
    padding: 0;
}

#menuContainer li {
    margin-bottom: 10px;
}

#menuContainer a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#menuContainer a:hover {
    color: #555;
}